# Android Studio configuration.
*.iml
.idea/
#
# # Gradle configuration.
.gradle/
build/
#
# # User configuration.
local.properties
#
# # OS configurations.
.DS_Store
## To not mutate andy.sfb causes runtime error.
app/src/res/raw/andy.sfb
